@media screen and (max-width: 880px) {
  .logo {
    width: 112px;
  }

  h3.login {
    font-size: 22px;
  }

  p.login {
    font-size: 18px;
  }

  label.login {
    font-size: 18px;
  }

  input.login {
    height: 52px;
    font-size: 20px;
  }

  button.login {
    height: 58px;
    font-size: 20px;
  }

  a {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 100px;
  }

  h3.login {
    font-size: 22px;
  }

  p.login {
    font-size: 18px;
  }

  label.login {
    font-size: 18px;
  }

  input.login {
    height: 52px;
    font-size: 20px;
  }

  button.login {
    height: 58px;
    font-size: 20px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 440px) {
  .logo {
    width: 100px;
  }

  h3.login {
    font-size: 20px;
  }

  p.login {
    font-size: 16px;
  }

  label.login {
    font-size: 16px;
  }

  input.login {
    height: 52px;
    font-size: 18px;
  }

  button.login {
    height: 58px;
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    width: 88px;
  }

  h3.login {
    font-size: 18px;
  }

  p.login {
    font-size: 14px;
  }

  label.login {
    font-size: 16px;
  }

  input.login {
    height: 52px;
    font-size: 16px;
  }

  button.login {
    height: 58px;
    font-size: 16px;
  }

  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    width: 88px;
  }

  h3.login {
    font-size: 18px;
  }

  p.login {
    font-size: 14px;
  }

  label.login {
    font-size: 16px;
  }

  input.login {
    height: 52px;
    font-size: 16px;
  }

  button.login {
    height: 58px;
    font-size: 16px;
  }

  a {
    font-size: 12.5px;
  }
}
