@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  position: fixed;
  top: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  color: #010400;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h3.login {
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  color: #7c7c7c;
}

p {
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding-left: 56px;
  box-sizing: border-box;
  color: #7c7c7c;
}

p.login {
  padding-left: 0px;
}

label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

label.login {
}

input {
  width: 100%;
  height: 48px;
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: #06bee1;
  color: #010400;
  background-color: #f4f4f9;
}

input.login {
}

button {
  width: 432px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-style: solid;
  border-radius: 12px;
  border-width: 2px;
  border-color: #5936cd;
  color: #f4f4f9;
  background-color: #5936cd;
}

button.login {
}

button.small {
  width: 90px;
  height: 36px;
  font-size: 14px;
  border-radius: 8px;
  color: #010400;
  background-color: #ffffff;
}

a {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: right;
  text-decoration: underline;
  padding-left: 12px;
}

a.login {
  padding-left: 0px;
}

select {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: #06bee1;
  color: #010400;
  background-color: #f4f4f9;
  padding: 6px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt.smaller {
  margin-top: 6px;
}

.mt.small {
  margin-top: 12px;
}

.mt {
  margin-top: 16px;
}

.mt.large {
  margin-top: 24px;
}

.mt.larger {
  margin-top: 32px;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5936cd;
}

.auth-content {
  width: 480px;
  height: auto;
  min-height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 0px 12px;
  background-color: #f4f4f9;
}

.auth-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.logo {
  width: 88px;
  height: auto;
}
